.unit-list {
  overflow-y: auto;
  overflow-x: hidden;
}
.unit-list .blck-wrap {
  cursor: pointer;
}
.unit-list .blck-wrap .sold,
.unit-list .blck-wrap .available {
  border-left: 2px solid #D07559;
  padding-left: 5px;
}
.unit-list .blck-wrap .available {
  border-color: #72d12f;
}
.unit-list .blck-wrap:hover,
.unit-list .blck-wrap.active {
  background: #EAEAEA;
}
.unit-list .blck-wrap.title-row .accord-head,
.unit-list .blck-wrap.no-hover .accord-head {
  cursor: default;
}
.unit-list .blck-wrap.title-row:hover,
.unit-list .blck-wrap.no-hover:hover {
  background: none;
}
.bldg-list {
  overflow-y: auto;
  overflow-x: hidden;
}
