.filter-button{
  border: 1px solid @brand-primary;
  border-radius: 3px;
  background-color: #ffffff;
  color: @gray-light;
  padding: 6px 12px;
  margin: 18px 0px;
}
.filters-wrapper{
margin-bottom:20px;
a{
	color: @brand-primary;
}
	.filter-chkbox-block label {
		color:@gray-light;
	}
} 
.alert{
	    background: #EAEAEA;
  		padding: 20px;
}
.seperator{
	  border-bottom: 1px solid #ddd;
}