/* Buttons */
.cf-btn-white{
    display: inline-block;
    box-shadow: none;
    border-radius: 4px;
    padding: 5px 16px;
    font-size: 14px;
    border: 1px solid @brand-primary;
    text-align: center;
    transition: all ease .2s;
    cursor: pointer;
    background-color: transparent;
    vertical-align: middle;
    color: @brand-primary;
    &:hover, &:active, &:focus{
        color: @white;
        background-color: @brand-primary;
        border: 1px solid @brand-primary;
    }
}
.cf-btn-primary{
    border-radius: 4px;
    padding: 5px 16px;
    font-size: 14px;
    border: 1px solid @brand-primary;
    &:hover, &:active, &:focus{
        background-color: @brand-primary-darker;
        border: 1px solid @brand-primary-darker;
    }
}

/* Alignment Helpers */
@from : 0;
@to : 50;
 
.loop(@index) when(@index =< @to) {
  .m-t-@{index} {
    margin-top: unit(@index, px);
  }
  .m-b-@{index} {
    margin-bottom: unit(@index, px);
  }
  .m-r-@{index} {
    margin-right: unit(@index, px);
  }
  .m-l-@{index} {
    margin-left: unit(@index, px);
  }
  .p-t-@{index} {
    padding-top: unit(@index, px);
  }
  .p-b-@{index} {
    padding-bottom: unit(@index, px);
  }
  .p-r-@{index} {
    padding-right: unit(@index, px);
  }
  .p-l-@{index} {
    padding-left: unit(@index, px);
  }
  .spacer-@{index} {
    padding-top: unit(@index, px);
  }
  .loop(@index + 5);
}
.loop(@from);

.inline-block{
    display: inline-block;
}


/* Similar Section */
.similar-section{
  ul{
    li{
      float: left;
      width: 33%;
      padding: 0 10px 0 0;
      &:first-child{
        // padding-left: 0;
      }
    }
  }
}

/* SVG */
.svg-maps div{
  &.active{
    display: block;
  }
  &.inactive{
    display: none;
  }
}

.detail{
  position: absolute;
  width: 100px;
  background: @white;
  opacity: 0.7;
  padding: 10px;
  border: 1px dashed darken(@gray, 50%);
  z-index: 1000;
}

.project-map{
  position: relative;
}

#spritespin, .svg-maps div{
  // width: 800px;
  // height: 600px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.text-primary{
  color: @brand-primary;
}

/* Loader */
.cf-loader {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  text-align: center;
  
  display: block;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.cf-loader:after {
  display: block;
  margin: auto;
  position: relative;
  width: 15px;
  height: 15px;
  -webkit-animation: rotate 0.6s linear infinite;
  -moz-animation: rotate 0.6s linear infinite;
  -ms-animation: rotate 0.6s linear infinite;
  -o-animation: rotate 0.6s linear infinite;
  animation: rotate 0.6s linear infinite;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border-top: 2px solid @brand-primary;
  border-bottom: 2px solid @white;
  border-left: 2px solid @brand-primary;
  border-right: 2px solid @white;
  content: '';
}


@keyframes rotate {
  0% {
    transform: rotateZ(-360deg);
    -webkit-transform: rotateZ(-360deg);
    -moz-transform: rotateZ(-360deg);
    -o-transform: rotateZ(-360deg);
  }
  100% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotateZ(-360deg);
    -webkit-transform: rotateZ(-360deg);
    -moz-transform: rotateZ(-360deg);
    -o-transform: rotateZ(-360deg);
  }
  100% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
  }
}
@-moz-keyframes rotate {
  0% {
    transform: rotateZ(-360deg);
    -webkit-transform: rotateZ(-360deg);
    -moz-transform: rotateZ(-360deg);
    -o-transform: rotateZ(-360deg);
  }
  100% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
  }
}
@-o-keyframes rotate {
  0% {
    transform: rotateZ(-360deg);
    -webkit-transform: rotateZ(-360deg);
    -moz-transform: rotateZ(-360deg);
    -o-transform: rotateZ(-360deg);
  }
  100% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
  }
}


/* Transition */
.ease {
  transition: all 0.3s ease-in 0s;
}

/* Back Button */
.breadcrumb-bar .bread-crumb-list{
  padding-bottom: 0;
  .brdcrmb-wrp li a {
    color: @brand-primary;
    font-weight: bold;
    &:before{
      content: "\e77a";
      font-family: icomoon;
    }
  } 
}