html, body{
    height: 100%;
}

body{
    min-width: initial;
}

/* Header */
.cf-hdr-blk .cf-us-logo {
    background:url(../../images/unit-selector_logo.png) no-repeat;
    display: block;
    top:-20px;
    left:12px;
    width:173px;
    height:38px
}

.proj-name{
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px solid @gray-lighter;
}
.proj-type-count{
    // margin-top: 10px;
    float: left;
    p{
        margin: 36px 15px 0 2px;
        font-weight: bold;
    }
}

.inner-container{
    border-bottom: 1px solid #ddd;
}

.wrapper{
    min-height: 100%;
    margin-bottom: -98px;
    background-color: lighten(@gray-lighter, 15%);
}

.component-body{
    background-color: lighten(@gray-lighter, 15%);
}

.no-found-container{
    margin-top: 25vh;
}

/* Left Container */
.search-left-content{
    position: relative;
    .similar-section{
        position: absolute;
        bottom: 0;
    }
}

.us-left-content{
    overflow-y: auto;
}
.builder-logo{
    max-width: 200px;
}

.proj-details{
    margin-top: 15px;
    .detail-pts{
        margin-top: 20px;
        p{
            margin: 0 0 5px;
            font-size: 13px;
            span{
                color: #666;
            }
        } 
    }
}

.filters-wrapper{
    .tab-main-container{
        border-right: 0;
    }
    .blck-wrap{
        &:last-child{
            border-bottom: 0;
        }   
    }
}

.marker-img{
    margin: auto;
}

/* Right Container */
.us-right-content{
    padding-left: 0;
    .svg-area{
        width: 100%;
        img{
            width: 100%;
        }
    }
    @media(max-width:991px){
        padding-left: 15px;
    }
}

/* Footer */
#footer{
    // margin: 0 -15px;
}

.footer-push{
    height: 98px;
}

