svg {
  width: 100%;
  height: auto;

	.caption{
		font-size: 14px;
		font-family: arial;
	}
	.tooltip{
	    font-size: 1em;
	    font-family: arial;
	    fill:#fff;
	    line-height:20px;
	    display:inline-block;
	    cursor:pointer;
	}
	.tooltip_bg{
	    fill: black;
	    stroke: black;
	    stroke-width: 1;
	    opacity: 0.85;
	}
	.active_bldg{
		fill: #FF7400;
	  	opacity: 0.5;
	}

	.layer{
		fill: #5C2424;
		opacity: 0.75;
		stroke: #f68121;
	  	stroke-width: 0px;
	  	stroke-dasharray: 20 300;
	  	stroke-dashoffset: 400;
	  	// transform: scale(.99, .99);
	  	transition: stroke-width 1s, stroke-dasharray 3s, stroke-dashoffset 1s;
		// transform-origin: 50% 50%;
	  	&.svg_active{
		  	stroke-width: 6px;
		  	stroke-dasharray: 320 0;
		  	stroke-dashoffset: 0;
	  	}
	  	&.not_in_selection {
			opacity: .5;
			animation: unit_fadein 0.6s;
			-webkit-animation: unit_fadein 0.6s;
		}
		&:hover{
		  	stroke-width: 4px;
		  	stroke-dasharray: 320 0;
		  	stroke-dashoffset: 0;
		}
	}


	.layer.unit_fadein{
		// transition:0.5s ease-in-out ;
		// -webkit-transition:0.5s ease-in-out ;
	}

	.layer.unit_fadein:hover{
		// opacity:0.7;
		// cursor:pointer;
	}
	
	.available {
	  	fill: rgba(204, 204, 204, 0);
	  	opacity: 0.5;
	}
	.blocked{
		// fill: rgba(244, 173, 0, 0.36);
	 //  	opacity: 0.8;
	}
	.sold{
		// fill: #FF6565;
		// opacity: 0.5;
	}
	.not_released{
	 	// fill: #cccccc;
	 	// opacity: 0.5;
	}
	.not_in_selection{
		fill: #000;
		opacity: .75;
	}
	.disable{
		fill: #999; 
		opacity:0.9;
	}
	.marker-area:hover polygon{
		opacity:0.6;
	}
	.marker-area:hover image{
		opacity:9;
		pointer-event:none;
	}
	.marker-area:hover rect{
		opacity:0.6;
	}
	.layer:hover{
		opacity:0.6;
		cursor:pointer;
	}
	polygon{
		.ease;
	}	 
	
}




@keyframes unit_fadein {
	0% { 
        opacity: 0; 
        transform: translateY(-400px); 
    } 
    60% { 
        opacity: 1; 
        transform: translateY(30px); 
    } 
    80% { 
        transform: translateY(-10px); 
    } 
    100% { 
        transform: translateY(0); 
    }
}


	