svg {
	width: 100%;
	height: auto;
	transform: translateZ(0);

  /*	polygon {
	  	transform: rotateY(-180deg) scale(0);
	  	transition: all 0.4s cubic-bezier(0.59, 0.72, 0.375, 1.65);
	  	transform-origin: center;
	  	-moz-transform-origin: 0 0;
  	}*/

	.caption{
		font-size: 14px;
		font-family: arial;
	}
	.tooltip{
	    font-size: 1em;
	    font-family: arial;
	    fill:#fff;
	    line-height:20px;
	    display:inline-block;
	    cursor:pointer;
	}
	.tooltip_bg{
	    fill: black;
	    stroke: black;
	    stroke-width: 1;
	    opacity: 0.85;
	}
	.active_bldg{
		fill: #FF7400;
	  	opacity: 0.5;
	}

	.layer{
		// fill: #5C2424;
		// opacity: 0.75;
		// stroke: #f68121;
	  	stroke-width: 0px;
	  	stroke-dasharray: 20 300;
	  	stroke-dashoffset: 400;
	  	// transform: scale(.99, .99);
	  	// transition: stroke-width 1s, stroke-dasharray 3s, stroke-dashoffset 1s;
	  	// transition: .5s ease-in;
		// transform-origin: 50% 50%;
	  	&.svg_active{
	  		animation: blink 0.8s ease-in-out infinite alternate; 
		  	// stroke-width: 4px;
		  	// stroke-dasharray: 320 0;
		  	// stroke-dashoffset: 0;
		  	// stroke: #f68121;
		  	// transition: stroke-width 1s, stroke-dasharray 3s, stroke-dashoffset 1s;
	  	}
	  	&.not_in_selection {
			opacity: .5;
			animation: unit_fadein 0.6s;
			-webkit-animation: unit_fadein 0.6s;
		}
		&:hover{
		  	// stroke-width: 4px;
		  	// stroke-dasharray: 320 0;
		  	// stroke-dashoffset: 0;
		  	// transform: scale(1.06);
	  		cursor: pointer;
	  		animation: blink 0.8s ease-in-out infinite alternate;
		}
	}


	.layer.unit_fadein{
		// transition:0.5s ease-in-out ;
		// -webkit-transition:0.5s ease-in-out ;
	}

	.layer.unit_fadein:hover{
		// opacity:0.7;
		// cursor:pointer;
	}
	.villa, .plot, .penthouse{
		opacity: 0.9;
		fill: #0F1308;
		fill-opacity: 0.7;
	}
	.available, .building {
	  	// fill: rgba(204, 204, 204, 0);
	  	opacity: 0.9;
	  	fill-opacity: 0.2;
	  	// fill: @white;
	  	stroke: #000;
	  	stroke-width: 1px;
	  	stroke-opacity: 1;
	}
	.blocked{
		// fill: rgba(244, 173, 0, 0.36);
	 	opacity: 0.9;
	 	fill: #0F1308;
	}
	.sold{
		// fill: #FF6565;
		opacity: 0.9;
		fill: #0F1308;
		fill-opacity: 0.7;
	}
	.not_released{
	 	// fill: #cccccc;
	 	opacity: 0.9;
	 	fill: #0F1308;
	 	fill-opacity: 0.7;
	}
	.not_in_selection{
		opacity: 0.9;
		fill: #000;
		fill-opacity: 0.7;
	}

	.disable{
		// fill: #999; 
		// opacity:0.9;
	}
	.marker-area:hover polygon{
		opacity:0.6;
	}
	.marker-area:hover image{
		opacity:9;
		pointer-event:none;
	}
	.marker-area:hover rect{
		opacity:0.6;
	}
	polygon{
		/*.ease;*/
	}	 
	
}

.marker{
	cursor: pointer;
}

.marker-area{
	cursor: default;
}

.step1-marker{
	cursor: pointer;
	transform-origin: 50% 50%;
	opacity: 0.3;
	&:hover{
		animation: blink 0.5s ease-in-out infinite alternate; 
		-moz-animation: blink 0.5s ease-in-out infinite alternate; 
	}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
	/* IE10+ specific styles go here */
	.svg-area{
		height: 0;
		padding-top: 50%;
		position: relative;
		svg{
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

@keyframes pulse {
    0% { 
        transform: scale(1); 
    }
    50% { 
        transform: scale(1.05); 
    }
    100% { 
        transform: scale(1); 
    }
}



@keyframes unit_fadein {
	0% { 
        opacity: 0; 
        transform: translateY(-400px); 
    } 
    60% { 
        opacity: 1; 
        transform: translateY(30px); 
    } 
    80% { 
        transform: translateY(-10px); 
    } 
    100% { 
        transform: translateY(0); 
    }
}

// .blink{
// 	animation: blink 1s ease-in-out infinite alternate; 
	
// }
//.marker-blink{
 //	animation: blink1 .5s ease-in-out infinite alternate; 
	
// }
@keyframes blink1 {
  0% {
	 stroke-width:0; 
  }
  
  100% {
 	stroke:#F68121;
 	fill-opacity: 0.5;
  }
}
@keyframes blink {
  0% {
	 
  }
  
  100% {
 	fill:#F68121;
 	fill-opacity: 0.5;
  }
}


// @keyframes grow-animation {
//   to {
//     transform: scale(1);
//     opacity: 0.7;
//   }
// }

// polygon {
//   animation: grow-animation 400ms linear 1 forwards;
//   transform: scale(0);
//   transform-origin: center center;
//   opacity: 0;
// }

