.svg-tooltip{
    display: none;
}

.svg-info{
	font-family: OpenSans,Arial,sans-serif;
	padding: 0 5px;
    h4{
    	color: @brand-primary;
    	font-weight: bold;
    }
    .label{
    	margin: 10px 0 0 5px;
    	display: inline-block;
    }
    .details{
    	font-size: 12px;
    	label{
    		color: @gray-light;
    	}
    }
}