.unit-list{
    overflow-y: auto;
    overflow-x: hidden;
    .blck-wrap{
        cursor: pointer;
        .sold, .available{
            border-left: 2px solid #D07559;
            padding-left: 5px;
        }
        .available{
            border-color: #72D12F
        }
        &:hover, &.active{
            background: #EAEAEA;
        }
        &.title-row, &.no-hover{
            .accord-head{
                cursor: default;
            }
            &:hover{
                background: none;
            }
        }
    }
}

.bldg-list{
    overflow-y: auto;
    overflow-x: hidden;
}


.sort-unit{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    line-height: 29px;
  .toggle {
      height: 18px !important;
       min-height: 18px !important;
     line-height: 1em !important;
     margin: 0px 3px;
     border-radius: 5px;
   .toggle-group{
       .btn-default{
           background:#fff !important;
           }
       }
   }
}

