
body {
  -webkit-text-size-adjust:none;
  font-family:sans-serif;
  min-height:416px;
  overflow-x: hidden;
  overflow-y:auto;
    h1 {
      font-size:28px;
      font-weight:300;
      color:#3c3c3c;
      text-align: left;
    }
    h2 {
      font-size:18px;
      font-weight:300;
      color:#3c3c3c;
      text-align: left;
    }
    small {
      display:block;
      font-size:12px;      
      margin-top: 1px;
      span
      {
        opacity:0.6;
      }
    }
    a {
      font-size:12px;
      color:@brand-primary ;
    }
}
.btn-primary
{
  background:@brand-primary !important;
  border:1px solid @brand-primary !important;
  &:hover, &.focus
  {
    outline:none !important;
    background:@brand-primary !important;
    border:1px solid @brand-primary  !important;
  }
}

.footer{
      font-size: 12px;
       color:white;
       position: absolute;
       bottom: 10px;
       z-index:9999;
  a{
       font-size: 12px;       
       color:white;
       &:focus, &:hover
       {
        color:#ccc;
       }
  }
}

.card-swipe
{
      font-size:12px;
      padding-top: 11px;
      h4{
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;       
        margin-bottom:5px;
        margin-top:0px;
        text-transform:uppercase;
        padding:0 10px;
      }
      .price{
            line-height: 20px;
            text-transform:uppercase;
            padding:0 25px;
             .unitAmount
            {
              color:@brand-primary;
              margin-left: 5px;
            }
      }     
      .swipe-footer{
            background: #f2f2f2;
            padding: 5px 0;
            font-weight: 200;
            line-height: 26px;
            color:@gray;
            height: 45px;
             @media(max-width: 320px){
               height:40px;
              }
            > div
            {
              padding: 4px 10px;
              &.matchingSelection
              {
                font-size:11px;
                text-transform:uppercase;
              }
            } 
            sm{
              color: @gray-darker;
              font-weight: bold;
              font-size: 16px;
              margin-top: 2px;
              float:left;
            }
            .units
            {
              float: left;
              margin-left: 10px;
              line-height: 1.2;
              font-weight: 400;
              margin-bottom: 9px;
              text-transform: uppercase;
              font-size: 11px;
              margin-top: 2px;              
              color:@gray-light;
              b
              {
                color: @gray-darker;
                font-size: 12px;
                font-weight:400;
                 @media(max-width: 320px){
                    font-size: 9px;
                 }
              }
            }
            .arrow
            {
              a
              {
                position: absolute;
                height:40px;
                width: 40px;
                background: @gray-light;
                text-align: center;
                border-radius: 50%;
                top: -26px;
                right: 15px;
                outline:none;
                text-decoration:none;
                border:2px solid @white;
                &:focus
                {
                  color:@brand-primary;
                }
                h3
                {
                      font-size: 16px;
                      margin-top: 8px;
                  i
                  {
                    color:@white;
                  }
                }
              }
            }
      }
      .swipe-unit-info{
            padding: 0 10px 5px;
            font-size: 11px;  
            font-weight: 200;
            text-align: left;
            text-transform: uppercase;
            
            span
            {
              float:left
            }
            li
            {
                  font-size: 12px;                 
                  float: left;
                  line-height: 1;
                  margin: 0 15px;
                  text-align: center;
                  width: 6px;
                  list-style: inside;
                  color:@gray-light;
                  border:none;
            }

            b{
              color: black;
            }           
      }
      @media(max-width: 320px){
        h4{
              font-size: 15px;
        }
      }
&.not-released
{    
  .swipe-footer
  {
    background:#f2f2f2;
    color:@gray-darker;
  }
}      
}
.not-released{
      background: #E4E4E4 !important;
      .price, .swipe-unit-info{
        opacity: .5 ;
        text-transform:uppercase;
      }
      .swipe-footer
      {
        text-transform:uppercase;
        > div
        {
          font-size:10px;
          margin-top:2px;
        }
      }
}
.highlight{
  border: 1px solid @brand-primary !important;
    h4{
          font-size: 18px;
          margin-top:15px;
          margin-bottom:15px;
    }
    .swipe-footer .arrow a
    {
      background:@brand-primary;
    }
}
.cardOuter{
  margin-top:15%;
  width:100%;
  height: 80% !important;
  clear:both;
}
.sidebar-nav{

    li{
        border:1px solid   lighten(@gray-lighter, 0%);
        margin-bottom:20px;
    }
}


.navbar-header{
      color:white; 
      z-index: 0;
      margin:0 !important;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      left: 0;
      height: 120px;
       padding: 20px 20px;
      background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.75), transparent);
      background-image: linear-gradient(to bottom, rgba(0,0,0,0.75), transparent);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#59000000', endColorstr='#00000000', GradientType=0);
      }

.filter-type{
    li{
      margin-left:10px;
      font-weight: 300;
      div{
            float: left;
            margin-right: 12px;
            line-height: 40px;
      }
      a
      {
        i
        {
          float:left;
        }
      }
      &:last-child
      {
        a
        {
          background:@brand-primary;
          border:1px solid @brand-primary;
          position:relative;

          span
          {
            position: absolute;
            height: 15px;
            width: 15px;
            background: @white;
            border-radius: 50%;
            top: 0px;
            right: -6px;
            font-size: 9px;
            text-align: center;
            padding: 2px 0 0 0;
            color: @gray;
          }
        &:hover
        {
          width: auto;
          border-radius: 5px;          
          opacity:1;
          i
          {
            float:left;
          }
          div
          {
            float:left;
            line-height: 33px;
            margin-left: 5px;        
            color: #fff;
            margin-right: 2px;
            display:block;
          }
        }  
        }
      }
      a{
              border: 1px solid #ccc;
              border-radius: 100%;
              width: 40px;
              height: 40px;
              display: inline-block;
              padding: 5px 6px;
              &:hover{
                opacity:.5;
              }
      }
    }
}
.rotate{
    position: absolute;
    z-index: 999;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 0px;
    color:White;
    text-shadow:1px 1px 1px #000;
    background:-webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.75), transparent);
    background:linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);

  .i-icon-rotate{
         background: url(../../images/sprite.png) no-repeat;
        width: 50px;
        height: 60px;
        background-position: -99px -20px;
        margin: auto;
        display: block;
         cursor:pointer;
  }

}
.messageBoxDesk
{ 
  background: rgba(0,0,0,0.7);
  color: @white; 
  width:auto;  
  margin:auto;
  display:inline-block;
  margin-top:30px;
  font-size:12px;

    .tip
    {
      float:left;
      padding:10px;
      background:rgba(0,0,0,0.5);
    }
     .message
     {
        float:left;
        padding: 11px 9px 9px 9px;
        text-transform:capitalize;
     }
    a
    {
      float: right;
      margin: 0 0 0 30px;
      color: @white;
      text-decoration:none;
      outline:none;
    &:focus, &:hover
    {
      color: @white;
      text-decoration:none;
      outline:none;
    } 
    }
}

.navbar-header{
  z-index: 99;
}
.contactModal 
{
  left:320px !important;
  top:15% !important;
  .modal-body
  {
    float:left;
    width:100%;
    background:@white;
    padding-top: 0;
    h4
    {
      margin-top:10px;
    }
  }
  .modal-header
  {
    border: none !important;
  }
  .content
  {
    margin-top:10px;
    margin-bottom:15px;
  }
  .p-0
  {
    padding:0;
  }
  p
  {
    font-size:14px;
    margin-top:2px;
    color:@gray-light;
    margin-bottom: 20px;
  }
  .modal-dialog
  {
    width: 500px;
    border-radius: 0;
  }
  .modal-content
  {
  border-radius:0;
  }
  .rightSide
  {
    border-left:1px solid @gray-lighter;
  }
  .inputOuter
  {
     padding:10px;
    input
    {
      width:100%;
      background:none;
      border:none;
      margin-bottom:15px;  
      padding: 10px 0px 5px 0;
      border-bottom: 1px solid @gray-lighter;
      font-size:12px;
      text-transform:uppercase;
      &:focus
      {
        outline:none;
      } 
    }
  }  
  .close
  {
    position: absolute;   
    z-index: 999;
    top: 10px;
    right: 10px;
    opacity: 1;
    height:25px;
    width:25px;   
    color:@gray-lighter;
    border-radius:50%;
    font-weight:300;

    &:hover, &:focus
    {
      color:@gray-lighter;
      opacity: 1;  
      outline:none;    
    } 
    span
    {
      margin-top: 0;
      float: left;
      width: 100%;
    }
  }
  .modalLogo
  {    
    display: block;   
    transform:scale(0.8);
    -webkit-transform:scale(0.8);
    -ms-transform: scale(0.8);
  }
  .help
  {
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 15px;
    float: left;
    width: 100%;
  }
  h5
  {
    text-transform: uppercase;    
    margin-top: 3px;
    float: left;
    width: 100%;
    color: @brand-primary;
  }
  .developers
  {
    text-transform: uppercase;
    font-size: 12px;
    color: @gray-light;
    margin-bottom: 20px;
  }
}

.modal-backdrop.in
{
    left:320px;
}
.hide-shadow{
  opacity: 0;
  transition:all 0.5s ease ;
}
.image-contain
{
  .no-shadow
  {
    position:absolute;
    top:0;
  }  
 
}
.outSideView
{
    h6
    {
      margin-top:20px;
    }
  img
  {
    width:100%;
    padding-right:10px;
  }
}
.towerDropdown, .towerDropdown.open
{
  button
  {
    background: none;
    border: 1px solid @brand-primary;
    padding: 0;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    color: @brand-primary;
    line-height: 0;
    margin-top: -3px;
    box-shadow:none;
    &:focus, &:hover
    {
      background: none; 
      border: 1px solid @brand-primary;
      color: @brand-primary;
      outline:none !important;
      box-shadow:none;
    }
    
  }
}
.styled-select 
{
   width: 100%;
   height: 34px;
   overflow: hidden;
   background: url(../../images/arrowDown.png) no-repeat right;
   border: none;   

  select
  {
   background: transparent;
   width: 100%;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   cursor:pointer;
   text-transform:uppercase;
   &:focus
   {
    outline:none;
   }
   option
   {
    font-size:12px;
   }

   }
}
.logoOuter 
{
  float:left;
  width:100%;
  margin-top:-15px;
}
.sideBarLogo
{
 /* background:url('../../images/logo.jpg') no-repeat;*/
  height:65px;
  width:100%;
  float:left;
  transform:scale(0.8);
  -webkit-transform:scale(0.8);
  -ms-transform: scale(0.8);
  margin-left:-34px;
}
.unitDetails
{
    padding: 5px 0 0 0 !important;
    border-top: 1px solid @gray-light;  
    small
    {
      font-size:12px;       
      font-weight: 400; 
      &.zoomEffect
      {
        animation:zoomEffect 2s;
        -webkit-animation:zoomEffect 2s;
        transition:transform .3s ease-out; 
      }    
      &.availableUnits
      {
        font-weight: 700;
      }
    }
    @keyframes zoomEffect {
        0% {transform:scale(1);}
        50% {transform:scale(1.1);}
        100% {transform:scale(1);}
    }
    @-webkit-keyframes zoomEffect {
        0% {transform:scale(1);}
        50% {transform:scale(1.1);}
        100% {transform:scale(1);}
    }

}
.titleOuter
{
    .sideBarLogo
    {
      width:53%;
      margin-left:-18px;
    }
    h4
    {
      float:right;
      width:45%;
      margin-top:27px;
      text-align:right;
      text-transform:uppercase;
      font-size:16px;
      button
      {
        margin-left: 5px;
      }
      .dropdown-menu
      {
        left:-30px;
      }
    }
}
.outSideView
{
  float:left;
  width:100%;
}

/* ToolTip */
.qtip-light{
      border: 0px !important;
      background: none!important;
      color: #fff!important;
      font-size: 14px!important;
      .qtip-content{
        background: #000;
        border: 0px;
        border-radius: 3px;
        padding: 10px;
      }
}
.qtip-light:after, .qtip-light:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.qtip-light:after {
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #000;
  border-width: 10px;
  margin-left: -10px;
}

.hasTooltip{
  position: absolute;
  z-index: 9999;
}

@media screen and (min-width: 1440px) {
      .cardOuter{
        height: 700px !important;
      }     
  }

@media screen and (min-width: 1024px) {
      
      .filterOuter
      {
        width:25% !important;        
      }

  }
  .animsition-loading{
  z-index:99999 !important;
  }
  .tabOutDesk
  {
    width: 100%;   
    border: 20px solid #000;
    float: left;
    padding: 15px;
  }
  .sun-highlight{
    background: yellow !important;
  }
  .zoomBtns
  {
    float: left;
    margin-top: 40px;
    width: 25px;
    margin-left: 17px;
    button
    {
      width: 25px;
      text-align: center;
      padding: 2px 0px;
      margin-bottom: 5px;
      &:focus
      {
        outline:none;
      }
    }
  } 
.in-selection {
  fill: rgba(16, 165, 169, 0.34) !important;
  opacity: .9 !important;
}
.not-in-selection,
.not-availabel {
  fill: rgba(0, 0, 0, 0.46) !important;
  opacity: .9 !important;
}
.pop-up-in
{
  -webkit-animation:pop-in 1s both;
  -moz-animation:pop-in 1s both;
  animation:pop-in 1s both
}
.pop-up-out
{
  -webkit-animation:pop-out 1s both;
  -moz-animation:pop-out 1s both;
  animation:pop-out 1s both
}
@keyframes pop-in
{
  0%{opacity:0;-webkit-transform-origin:0 0;-webkit-transform:scale(0) translate(50%,0)}
  100%{top:50%;left:50%;margin:-206px 0 0 -304px;opacity:1;-webkit-transform-origin:0 0;-webkit-transform:scale(1) translate(0%,0)}
}
@-webkit-keyframes pop-in
{
  0%{opacity:0;-webkit-transform-origin:0 0;-webkit-transform:scale(0) translate(50%,0)}
  100%{top:50%;left:50%;margin:-206px 0 0 -304px;opacity:1;-webkit-transform-origin:0 0;-webkit-transform:scale(1) translate(0%,0)}
}
@-moz-keyframes pop-in
{
  0%{opacity:0;-moz-transform-origin:0 0;-moz-transform:scale(0) translate(50%,0)}
  100%{top:50%;left:50%;margin:-206px 0 0 -304px;opacity:1;-moz-transform-origin:0 0;-moz-transform:scale(1) translate(0%,0)}
}
@keyframes pop-out
{
  0%{top:50%;left:50%;margin:-206px 0 0 -304px;opacity:1;transform-origin:0 0;transform:scale(1) translate(0%,0)}
  100%{opacity:0;transform-origin:0 0;transform:scale(0) translate(50%,0)}
}
@-moz-keyframes pop-out
{
  0%{top:50%;left:50%;margin:-206px 0 0 -304px;opacity:1;-moz-transform-origin:0 0;-moz-transform:scale(1) translate(0%,0)}
  100%{opacity:0;-moz-transform-origin:0 0;-moz-transform:scale(0) translate(50%,0)}
}
@-webkit-keyframes pop-out
{
  0%{top:50%;left:50%;margin:-206px 0 0 -304px;opacity:1;-webkit-transform-origin:0 0;-webkit-transform:scale(1) translate(0%,0)}
  100%{opacity:0;-webkit-transform-origin:0 0;-webkit-transform:scale(0) translate(50%,0)}
}

.svg-light{
  opacity: 0.3;
  fill: #ffffff;
}
.sunText, .enquiryText  
{
  margin-left: 5px;
}
 #page-content-wrapper {
    overflow-x:hidden;
}
 #wrapper {
   overflow: hidden;
} 

