.float-nav {
  position: fixed;
  z-index: 15;
  top: 20px;
  right: 170px; 
  width: 470px;
  height: 400px;
  padding: 0px;
  text-align: left;
  background: #fff;  
  box-shadow:
    0 1px 2px rgba(0,0,0,0.2),
    0 4px 10px rgba(0,0,0,0.15);
  transition: all 300ms cubic-bezier(.6,-0.3,.3,1.3);
  .mCustomScrollBox
  {
    width: 100% !important;
    height: 89% !important;
  }
  .filterLiTop
  {
    border-bottom:1px solid @gray-light;
    padding:6px 10px;
    opacity: 1;
    float: left;
    width: 100%;
    -webkit-transition: all 300ms;
    transition:all 300ms;

    h5
    {
      margin:8px 0 0 0;
      float:left;  
      color:@gray-darker;
      
      .filterHeader
      {
        color:@brand-primary;
        &.link
        {
          &:hover
          {
            color:@brand-primary;
          }
        }
      }
    }
    button
    {
      margin-right:30px;
    }
  }
  .filterUl 
  {
    padding: 0;
    height: 100%;
    display: block;
  }
  &.closed {
    width: 85px;
    height: 34px;
    border-radius: 3px;
    cursor: pointer;

  .filterLiTop, .filterUl
  {   
    opacity: 0; 
  }
}
}


.float-nav a {
  display: inline-block;
  color: #333;
  text-decoration:none;  
}
.float-nav a:hover
{
  text-decoration:none;
}
.float-nav > a { -webkit-tap-highlight-color: rgba(0,0,0,0); 
  text-decoration:none;
}

.float-nav .toggle {
    position: absolute;
    top: 5px; right: 0;
    width: 20px; height:20px;
    font-size: 24px;
    line-height: 1.375em;
    font-weight: 400;
    text-align: center;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform-origin: 50%;
    cursor: pointer;
    text-decoration:none;
    outline:none;
}
.float-nav .toggle:before
{
    content:'+';
    color:@gray-darker;
}
.float-nav .toggle:after
{
  content:'';
   transform: scale(0);
  -webkit-transform: scale(0);
   -ms-transform: scale(0);
  margin-left:39px;
  line-height:0;
  color:@gray-darker;
  font-size: 22px;
  text-transform: uppercase;
  float:left;
  margin-top:0;
  -webkit-transition: all 300ms;
  transition: all 300ms;  
}
.float-nav.closed .toggle:after
{
    content:'Filter';
    transform: scale(1);
  -webkit-transform: scale(1);
   -ms-transform: scale(1);
   -webkit-transition: all 500ms;
  transition: all 500ms;
}

.float-nav.closed:hover .float-nav.closed .toggle
{
  width:90px;
  height:30px;
}
.float-nav.closed .toggle:before
{
  content:'';
}
.float-nav.closed .toggle {
  transform: rotate(0);
  text-decoration:none;
  width: 131px;
  font-weight: 400;
  height: 30px;
  background: url(../../images/spriteNew.png) no-repeat;
  background-position: -6px -73px;
  z-index: 9999;
  top: -6px;
  transform: scale(0.6);
  -webkit-transform: scale(0.6);
   -ms-transform: scale(0.6);
  left: -25px;
  padding: 24px 5px;
  border-radius: 7px;
}

.float-nav ul {
     /* position: absolute;
    top: 40px;
    left: 0;*/
    opacity: 1;    
    -webkit-transition: all 300ms;
    transition: all 300ms;
    width: 100%;
    list-style:none;
    height:89%;
    margin-bottom:0px;
    margin-top:0;
    overflow: auto;
    padding: 0 !important;
}
.float-nav.closed ul { opacity: 0; }

.float-nav li {
  color:#333;
  padding: 10px; margin-bottom: 0;
  transition: all 600ms; 
  float:left;
  width:100%;

  h6
  {    
    margin:8px 0 0 0;
    font-size:100%;
    font-weight:600;
  }

  }
.float-nav.closed li { margin-bottom: 1.375em; }

.float-nav li
{  
  &.filterCheckbox
  {
    background:@gray-lightest;
    padding:10px 2px 0px;
    ul
    {
      li
      {
        padding: 10px 5px;
      }
    }
    div
    {
      padding:0 5px;
      margin-bottom:10px;
     
      label
      {
        float: left;
        font-size: 100%;
        margin-top: 0px;
        text-transform: uppercase;
        margin-left: 5px;
        font-weight:200;
        color:@gray;
        margin-bottom:0;
      }
    }
    input[type=checkbox] 
      {
        position:absolute;
        opacity:0;
        height:15px;
        width:100%;
        left:0;     
        margin-top:0;

      }
      label.checkboxLabel
      {
        height:15px;
        width:15px;
        background:none;
        border:2px solid @gray-lighter;
        text-align:center;
        margin-top: 2px !important;
      }     

      input[type=checkbox]:checked + label:before 
      {
          content: "\2714";
          text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
          font-size: 89%;
          color: #f3f3f3;
          text-align: center;
          background:@teal;
          border: none;
          width: 16px;
          height:16px;
          font-weight: 400; 
          /*padding-top:1.2px;*/
          display:block;           
          border:2px solid rgba(0,0,0,0);  
          margin:-2px 0 0 -2px;  
          line-height: 12px;          
      }
  }
  &.budgetOuter
  {
    background: @gray-lightest;
    padding: 0;
    float:left;
    width:100%;

    > div
    {
      padding: 10px;      
      background:@gray-lightest;
      &:first-child
      {
        border-right: 1px solid @gray-light;
      }
      
      select
      {
        border: none;
        background: @gray-lightest;
        width: 100%;
        font-size: 100%;
        border-bottom: 1px solid @gray-light;
        padding: 5px;
        &:focus
        {
          outline:none;
        }
      }
    }
  }
  &.additionalFilters
  {
    cursor:pointer;
    h6
    {
      color:@brand-primary;
      i
      {
        font-size:100%;
        line-height: 0;        
        height: 3px;
        vertical-align: middle;
      }
    }
  }
  &.moreFilters
  {
    padding: 0;
    background: none;
    display:none;
    ul
    {
      position: relative;
      float: left;
      width: 100%;
      li
      {
        &:first-child
        {
          padding-top:0;
        }

       &.facingContent
       {
          background: #f2f2f2;
          padding: 10px 2px 0;          
       } 
      }
    }
  }
} 
.filterOuter
{
  .sun-toggle
  {
    position: absolute;
    left: 0px;
    height: 22px;
    width: 49px;
    background: #ffffff;
    border-radius: 3px;
    top: 3px;
    outline: none;
    &:focus
    {
      outline:none;
    }
    i.sunImg
    {
      width: 40px;
      height: 31px;
      background: url(../../images/spriteNew.png) no-repeat;
      background-position: -8px -121px;
      position:absolute;
      left: -9px;
      top: -7px;
      transform: scale(0.6);
      -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
    }
    .sunText
    {
      float: left;
      margin-top: 5px;
      font-size: 10px;
      margin-left: 22px;
      color: #333;
      text-transform: uppercase;  
    }
    &.sun-highlight
    {
      background:@real-yellow;
    }
  }
  .filterCountDesk
  {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color:@brand-primary;
    color:@white;
    top: -4px;
    right: -4px;
    z-index: 1;
    border-radius: 50%;
    text-align: center;
    font-size: 10px;
    line-height: 1.5;
    opacity:1;
  }
}
@media screen and (max-width:1440px)
{
    .float-nav
    {
        width: 395px;
        height: 370px;
    }
    .float-nav li.filterCheckbox div label
    {
      font-size: 81%;
      margin-top: 2px;
    }
    .float-nav li.budgetOuter > div select
    {
      font-size: 83%;
    }
    .float-nav li h6, .float-nav li.filterLiTop h5
    {
      font-size: 85%;
    }
}

.sub-list{
      padding: 0px 7px !important;
  li{
    float:none !important;
    width:auto;
    label{
         margin-bottom: -2px;
        font-weight: 400;
        margin-left: 10px;
    }
  }
}