.unitSold
{
	color:@red;
}
.messageBox
{
	position: absolute;
    background: rgba(0,0,0,0.5);
    color: @white;
    padding: 10px;
    left: 24%;
    top: 14%;
    display:block;
    z-index: 9999;

    a
    {
	    float: right;
		margin: 3px 0px 3px 30px;
		color: @white;
		text-decoration:none;
		outline:none;
	&:focus
	{
		color: @white;
		text-decoration:none;
		outline:none;
	}	
    }
}
.tooltipOuter
{
	position:absolute;
	top:30%;
	left:10%;
	z-index:5;
	a
	{
		color: @white;
	    background: rgba(0,0,0,0.7);
	    padding: 12px;
	    text-decoration:none;
	    &:focus
	    {
	    	color:@white;
	    	text-decoration:none;
	    }
	}
}