.unitSold
{
	color:@red;
}
.messageBox
{
	position: absolute;
    background: rgba(0,0,0,0.5);
    color: @white;
    padding: 10px;
    left: 24%;
    top: 14%;

    a
    {
	    float: right;
		margin: 3px 0px 3px 30px;
		color: @white;
		text-decoration:none;
		outline:none;
	&:focus
	{
		color: @white;
		text-decoration:none;
		outline:none;
	}	
    }
}