html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
.clear{
  clear:both;
}
.m-b-5{
  margin-bottom: 5px;
}



 .fit { /* set relative picture size */
    max-width: 100%;
    max-height: 100%;
  }
.normal{
  font-weight: 300;
}
.margin-none{
  margin: 0px;
}
.image-contain{
   position: absolute;
         top: 0px;
      overflow: hidden;
}
.image{
      

      img{
            max-height: inherit !important;
            width:100%;

      }
      .no-shadow{
        position: absolute !important;
         transition: visibility 0s 0.6s, opacity 0.6s linear;
        top: 0;
      }
}
.image2{
      position: absolute;
      top: 0px;
      z-index: -1;
      overflow: hidden;
   }

.primary-txt{
    color:@brand-primary;
}
.hide-shadow{
  opacity: 0;
  transition:all 0.5s ease ;
}
.svg-area{
  position: absolute;
  z-index: 99;
  overflow: hidden;
  width:100%;
  svg{
        height: auto;
        /*position: absolute;*/
        top: 0px;
        width:100%;
  }
}
div#spritespin {
    width: 100% !important;
    height: 100% !important;
}
 .footer
  {
    font-size: 14px;
    color: @white;
    position: absolute;
    bottom: 10px;
    z-index: 1;
    right: 25px;
    text-align: right;
    .primary-txt
    {
      text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    }
    a
    {
      font-size: 14px;
      color: @white;
    }

  }
.link{
      float: right;
      padding: 4px;
      margin-right: 10px;
      &:hover{
        text-decoration: underline;
        cursor: pointer;
      }
}
