.imageModal
{
	top:15% !important;
	.modal-content
	{
		border-radius:0;
		border: 2px solid @black;
	}
	.modal-body
	{	
		padding:0;
		img
		{
			width:100%;			
		}
		.imageContent
		{
		    position: absolute;
			bottom: -1px;
			color: @white;
			background: rgba(0,0,0,0.8);
			padding: 0 15px;
			width: 100%;
		}
	}
	.close
	{
	    position: absolute;
	    background-color: rgba(0,0,0,0.8);
	    z-index: 999;
	    top: -10px;
	    right: -10px;
	    opacity: 1;
	    height:25px;
	    width:25px;
	    border:2px solid @white;
	    color:@white;
	    border-radius:50%;
	    font-weight:300;

	    span
	    {
	    	margin-top: -2px;
		    float: left;
		    width: 100%;
	    }
	}
}
.modal-backdrop
{
&.in
{
	opacity: .8 !important;
}	
}