#overlay
{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background:black;
	opacity:0.7;
	z-index:1;
}
.imageModal
{
	
	margin-left:0 !important;	
	

	&#msg
	{
		position:absolute;
		height:0;
		left:0;
		background:wheat;
		z-index:2;
		&.closed
		{
		    overflow: hidden;
		}
	}	

	&.closed
	{
		border:none;
	}
	.modal-header
	{
		padding:0;
		position:absolute;
		width:100%;
	}
	.modal-dialog
	{
		height:400px;
		width:500px;
		.modal-content
		{
			height:100%;
		}
		.modal-body
		{
			height:100%;
			overflow:hidden;
			padding:0;
		}
	}
	.imgOuter
	{
		overflow:hidden;
		height:100%;
	}
	
		img
		{
			position: relative;	
			/*height:100%;	*/
		    margin-left: 50%;
		   /* margin-top: 50%;*/
		    -webkit-transform: translateX(-50%);
		    transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		    -webkit-animation: slide 22s linear;
	       	-moz-animation: slide 22s linear;
	        animation: slide 22s linear;
	        -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
   			animation-fill-mode: forwards;

	        @-webkit-keyframes slide
			{
			    0%   {margin-left:25%;}		    
			    100% {margin-left:75%;}
			}

			@-moz-keyframes slide
			{
			    0%   {margin-left:25%;}		    
			    100% {margin-left:75%;}
			}

			@keyframes slide
			{
			    0%   {margin-left:25%;}		    
			    100% {margin-left:75%;}
			}
		}
		.imageContent
		{
		    position: absolute;
			bottom: -1px;
			color: @white;
			background: rgba(0,0,0,0.8);
			padding: 0 15px;
			width: 100%;
		}

	.close
	{
	    position: absolute;
	    background-color: rgba(0,0,0,0.8);
	    z-index: 999;
	    top: -10px;
	    right: -10px;
	    opacity: 1;
	    height:25px;
	    width:25px;
	    border:2px solid @white;
	    color:@white;
	    border-radius:50%;
	    font-weight:300;

	    &:hover, &:focus
	    {
	      color:@white;
	      opacity: 1;  
	      outline:none;    
	    } 
	    span
	    {
	    	margin-top: -2px;
		    float: left;
		    width: 100%;
	    }
	}
}
.modal-backdrop
{
&.in
{
	opacity: .8 !important;
}	
}
.modalBtn
{
		
	margin-top:150px;
}