.tabHeader
{

	position:fixed;
	top:0;
	width:100%;
	left:0;
	z-index:9999;
	background:@white;

	.title
	{
		margin-top:10px;

		h3
		{
			color: @gray-darker;
			display: inline-block;
		    margin: 14px 0 16px;
		    font-size: 16px;
		    text-transform: uppercase;

			@media screen and (max-width:320px)
			{				
				font-size:15px;
				margin-top:12px;
			}
		}
		a
		{
			color: @gray-darker;
			display:inline-block;
			margin:8px 10px 0 20px;
			font-size:20px;
			float:left;
			i
			{
				transform: scale(0.8);
				&.i-dark-arrow
				{
					background-position: -219px -16px;
				}
			}

			@media screen and (max-width:320px)
			{
				margin-top:5px;
			}
		}
	}

	.nav-tabs
	{
		box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
		border-bottom: none;

		li
		{
			width:25%;
			margin:0;

			&.active a, &:hover a, &:focus a
			{
				margin:0 !important;
				border:none !important;
				border-bottom:3px solid @brand-primary !important;
				color:@gray-darker;
				background:none;				
			}

			a
			{
				color: @gray-light;
				margin:0;
				border:none;
				font-size:11px;
				text-transform:uppercase;
				padding:5px;
				font-weight:600;

				@media screen and (max-width:320px)
				{
					padding:3px;
					font-size:10px;
				}
			}
		}

	}
}

.tab-content
{
	padding:15px;
	margin-top:85px;
	margin-bottom:30px;	
	float:left;
	width:100%;
	min-height:100%;
	background:@gray-lightest;

	.details
	{
		box-shadow:0px 0px 5px rgba(0,0,0,0.3);
		margin-bottom:15px;		
		background:@white;
	/*&:last-child
	{
		margin-bottom:50px;
	}*/
		h4
		{
			display:inline-block;
			color:@gray-darker;
			font-weight:bold;
			margin-top:20px;
			text-transform: uppercase;
			margin-bottom: 10px;
		}
		h5
		{
			margin-top:20px;
			margin-bottom: 10px;
			font-size:92%;
			font-weight:600;
			color:@gray-dark;
		}
		
		.flatDetails
		{
			border-bottom:1px solid lighten((@gray-lighter) ,5%);
						
			span.unitFacing
			{
				color:@gray-dark;
				display:inline-block;
				font-size:14px;
				margin:0 0 0 15px;
			}
			.price
			{
				margin-bottom:15px;
				font-size:14px;
				span.amount
				{
					color:@gray-light;
					margin-left: 0;
				}
				span.availability
				{
					color:@teal;
					text-align:right;
					float:right;
				}
				i
				{
					margin-left:1px;
					margin-left: 5px;
				}
			}
			.dimensionalViewBtn
			{
				float:right;
				margin-top:15px;

				a
				{					
				    border: 1px solid @gray-light;				    
				    padding: 5px;
				    color: @gray-darker;
				    font-size: 10px;
				    font-weight: 700;
				    float:left;
				    text-decoration:none;
				    outline:none;
				    &:first-child
				    {
				    	border-radius: 10px 0 0 10px;
				    	background:@gray-lighter;
				    }
				    &:last-child
				    {
				    	border-left: 0;
    					border-radius: 0 10px 10px 0;
				    }
				    &:focus, &:hover
				    {
				    	text-decoration:none;
				    	outline:none;
				    }
				}
			}	
		}	

		.twodView
		{
			img
			{
				width:100%;
				margin-bottom:15px;
				margin-top:15px;
			}

			a
			{
				/*background:url('../../images/sprite.png') no-repeat;
				background-position:-105px -30px;*/
				position:absolute;
				z-index:1;
				right:20px;
				bottom:20px;
				/*height:40px;
				width:40px;*/

				i
				{
					color:@white;
				}				
			}
		}
	}	

	.projectDetails
	{	
		margin-top:20px;
		a
		{
			margin-bottom:20px;
			margin-top:10px;
		}
		.roomHeading
		{
			padding:0;
			margin-bottom:10px;

			span
			{
				float:left;										
				height:40px;
				width:40px;				
			}

			h4
			{
				color:@brand-primary;
				margin:0px 0 0px 0px;
				font-weight:normal;
				float:left;	
				text-transform: uppercase;				
			}
		}		

		.row
		{
			margin-bottom:15px;

			.left
			{
				color:@gray-light;
				font-size:14px;
				padding-left:0;
				word-wrap: break-word;
			}

			.right
			{
				color:gray-darker;
				font-size:14px;
				padding-right:0;
			    word-wrap: break-word;
			}
		}
	}

	.gallery
	{
		h5
		{
			margin-top:15px;
		}		

		img
		{
			width:100%;
			margin-bottom:15px;
		}

		a
		{
			/*background:url('../../images/sprite.png') no-repeat;
			background-position:-105px -30px;*/
			position:absolute;
			z-index:1;
			right:10px;
			bottom:20px;
			/*height:40px;
			width:40px;	*/

			i
			{
				color:@white;
			}		
		}
	}

	#Fullscreen 
	{

        height: 100%;
        display: none;
        position:fixed;
        top:0;
        right:0;
        bottom:0;
        left:0;       
    }
	#Fullscreen img
	{
	    height: 100%;
	    display: block;
	    margin: 0 auto;
	}	
	.nopreview 
	{
		text-align:center;
		margin:20px 0;
		color:@gray-dark;
		h5
		{
			margin-bottom:20px;
		}
	}
}
.btn-primary
{
	background: @brand-primary !important;
	border: 1px solid @brand-primary !important;
	&:hover, &.focus
	{
		background: @brand-primary !important;
		border: 1px solid @brand-primary !important;
		outline: none;
	}
}
.contactModal 
	{
  
  top:6% !important;
  /*bottom:50px !important;*/
  z-index:15050;
  .modal-body
  {
    float:left;
    width:100%;
    background:@white;
    padding-top: 0;
    margin-bottom:5px;
    h4
    {
      margin-top:0px;
      font-size:18px;
    }
  }
  .content
  {
  	padding:10px;
  	width:100%;
  }
  .contactContent
  {
  	float:left;
  	width:100%;
  }
  .modal-header
  {
    border: none !important;
    padding:0;
  }
 
  .p-0
  {
    padding:0;
  }
  p
  {
    font-size:14px;
    margin-top:2px;
    color:@gray-light;
    margin-bottom: 10px;
  }
  .modal-dialog
  {   
    border-radius: 0;
  }
  .modal-content
  {
  border-radius:0;
  border:none; 
  box-shadow: none;
  }
 
  .inputOuter
  {
     padding:10px;
     lebel
     {
		display:none;     
     }
    input
    {
      width:100%;
      background:none;
      border:none;
      margin-bottom:15px;  
      padding: 10px 0px 5px 0;
      border-bottom: 1px solid @gray-lighter;
      font-size:12px;     
      &:focus
      {
        outline:none;
      } 
    }
    > div
    {
    	position:relative;
    }
    .errorlist
    {
    	li
    	{
    		position: absolute;
		    top: 34px;
		    list-style: none;
		    color: red;
		    font-size: 11px;
    	}
    }
  }  
  .close
  {
    position: absolute;   
    z-index: 999;
    top: 10px;
    right: 10px;
    opacity: 1;
    height:25px;
    width:25px;   
    color:@gray-lighter;
    border-radius:50%;
    font-weight:300;

    &:hover, &:focus
    {
      color:@gray-lighter;
      opacity: 1;  
      outline:none;    
    } 
    span
    {
      margin-top: 0;
      float: left;
      width: 100%;
    }
  }
  .modalLogo
  {    
    display: block;   
    transform:scale(0.8);
    -webkit-transform:scale(0.8);
    -ms-transform: scale(0.8);
  }
  .help
  {
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 15px;
    float: left;
    width: 100%;
  }
  h5
  {
    text-transform: uppercase;    
    margin-top: 3px;
    float: left;
    width: 100%;
    color: @brand-primary;
  }
  .developers
  {
    text-transform: uppercase;
    font-size: 12px;
    text-align:center;
    color: @gray-dark;
    margin-bottom: 10px;
  }
}
@media screen and (max-width:320px)
{
	.tab-content
	{
		margin-top:75px;
	}
}
.tabfooter
{
	position: fixed;
    bottom: -1px;
    width: 100%;
    float:left;
    /*left: 0;	  */  
    color: @white;
    text-align: center;	 
    z-index:9999;   

    button
    {
    	margin: 0;
	    border: none;		    
	    background:@brand-primary;
	    padding:5px;
	    text-transform:uppercase;
	    font-size:10px;
	    width: 50%;
	    float: left;
	    &:first-child
	    {
	    	border-right:1px solid @white;
	    }	
	    &.booked
	    {
	    	background:@gray;
	    }

	    div
	    {

	    	float:left;
	    	width:100%;
	    	margin-bottom:5px;	    
	    }	    	  
    }
}


/* ToolTip */
.qtip-light{
	    border: 0px !important;
	    background: none!important;
	    color: #fff!important;
	    font-size: 14px!important;
	    .qtip-content{
	    	background: #000;
		    border: 0px;
		    border-radius: 3px;
		    padding: 10px;
	    }
}
.qtip-light:after, .qtip-light:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.qtip-light:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #000;
	border-width: 10px;
	margin-left: -10px;
}

.hasTooltip{
	position: absolute;
	z-index: 9999;
}
.modal-backdrop
{
	z-index: 15000!important;
}
