.step4Desk
{
	padding:15px 0 !important;
	.backOuter
	{	
		padding:0;		
		i
		{
			float: left;
			transform: scale(0.6);
			-webkit-transform: scale(0.6);
			-ms-transform: scale(0.6);
			margin-left:-5px;
		}
		.back 
		{
			font-size: 12px;
		    float: left;
		    margin-top: 5px;
		    margin-left: 5px;
		}		
	}
	h4
	{
		float:left;
		font-size:30px;
		margin:10px 0 0 0;
		font-weight: 600;
	}
	.unitStatus
	{
		border:1px solid @real-green;
		border-radius:3px;
		font-size:12px;
		padding:2px 5px 1px;
		color:@real-green;
		margin-top: 15px;
	    float: left;
	    margin-left: 10px;
	    &.available 
	    {
	    	border:1px solid @real-green;
	    	color:@real-green;
	    }
	    &.sold
	    {
	    	border:1px solid @gray;
	    	color:@gray;
	    }	    
	}

	.rightSide
	{
		padding-top:25px;	
		button 
		{
		&:last-child
		{
			margin-left: 5px;
		}	
			i
			{
				margin-left: 7px;
			}
			
		}
		.totalUnitPrice
		{
			padding-right: 5px;
    		color: @brand-primary;
    		font-size: 14px;
    		text-transform: uppercase;
    		font-weight: bold;
    		.totalPriceText
    		{
    			color: @black;
    			padding-right: 3px;
    		}
		}
	}	
	.flatDetails 
	{
		margin-top: 5px;
    	padding-left: 25px;
    	border-bottom: 1px solid @gray-lighter;
    	padding-bottom: 10px;
		.units
		{
			float:left;
			font-size:12px;
			color:@gray;
			margin: 0 5px;
		}
		ul
		{
			float:left;
			margin: 0;
    		text-align: center;
			li
			{
				float:left;
				color:@gray-light;				   
			    margin: 0 10px;
			    list-style: inside;
			    line-height: 1;
			    width:5px;
			}
		}
	}
	.tabHeader
	{
		ul
		{
			margin-bottom: 0;
			li
			{
				display:inline-block;
				padding:20px 15px 0 15px;
				&:first-child
				{
					padding-left:15px;
				}
				a
				{
					color:@gray-darker;
					padding-bottom:15px;
					float:left;
					border-bottom:2px solid rgba(0,0,0,0);
					text-decoration:none;
					outline:none;
					font-size:14px;
					font-weight:600;
					&:hover, &:focus
					{
						text-decoration:none;
						outline:none;
						color:@brand-primary;
					}
					&.active
					{					
						color:@brand-primary;
						border-bottom:2px solid @brand-primary;
					}
					.rotateIcon
					{
						background: url('../../images/sprite-step4.png') no-repeat;
						background-position:5px -13px;
						height: 24px;
						width: 50px;
						float: left;
					}
				}
				
				&.liveInTourLi
				{
					a
					{
						padding-bottom: 10px;
						.liveInTourText
						{
							float: left;
							margin-top: 2px;
						}
					}
				}		
				
				&.stickyButtons
				{
					display:none;
					padding-top: 12px;

					.totalUnitPrice
					{
						padding-right: 5px;
			    		color: @brand-primary;
			    		font-size: 14px;
    					text-transform: uppercase;
    					font-weight: bold;
			    		.totalPriceText
			    		{
			    			color: @black;
			    			padding-right: 3px;
			    		}
					}
					button
					{
						i
						{
							margin-left: 7px;
						}
					 &:last-child
					 {
					 	margin-left:5px;
					 }
					}
				}
			}
		}
		&.stick {
		    position: fixed;
		    top: 0;
		    z-index: 100;
		    background: @white;
		    width: 100%;
		    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
		    ul
		    {
		    	li
		    	{
		    		margin-bottom:-6px;
		    	}
		    }

		    .stickyButtons
		    {
		    	display: block;
		    }
		}
	}
	.contentHEader
	{
		background: @gray-lightest;
    	padding: 15px 25px;
    	.contentTitle 
    	{
    		padding: 5px 20px 5px 5px;   			
   			color:@gray-dark;
   			font-weight:600;
   			border-right: 1px solid @gray-lighter;
   			font-size: 14px;
    	}
    	.contentText
    	{
    		padding:0 20px;
    		color:@gray;
    		font-size: 12px;
    	}
	}
	.detailView
	{
		margin-bottom:30px;
		.contentHEader
		{
			margin-top: -5px;
		}
		.unit
		{			
			h5
			{
				margin-top: 0;
			    font-weight: 600;
			    margin-bottom: 20px;
			    font-size: 14px;
			}
			.roomDetails
			{
				margin-top:30px;
				border-right:1px solid @gray-lighter;
				width:24%;
				padding:0 15px 0 30px;				
				display: inline-block;
				vertical-align: top;

				.left , .right
				{
					color: @gray-light;
				    font-size: 12px;
				    padding: 5px 15px;
				    word-wrap: break-word;
				}
				.right
				{
					color: @gray-darker;
				}
				.moreLessLink
				{
					color: @brand-primary;
					font-size: 12px;
					text-decoration: none;
					outline: none;
					&:focus
					{
						text-decoration:none;
						outline: none;
					}
				}
				&:nth-child(3n+4), &:last-child
				{
					border-right: none;
				}
				&:nth-child(4n+1)
				{
					padding-left:15px;
				}

			}
			.hiddenContent
			{
				display:none;
				&.moreLess
				{
					display: block;
				}
			}
		}
	}
	

		.floorDetails
		{
			padding:30px 15px;
			margin-bottom:0px;
			.image
			{
				position: relative;
			}
			img
			{
				width:auto;
				max-width:100%;
				height:auto;
				max-height:400px;	
				margin: auto;		
			}
			.plan
			{
				margin-top:20px;
				font-size:14px;
				font-weight:600;
			}
		}	
		.outsideView
		{
			.floorDetails
			{
				.plan
				{
					margin-top:0;
					margin-bottom:10px;
				}
			}
		}
		.amenitiesDetails
		{
				padding: 20px 15px;
			.row
			{
				> div
				{
					margin:10px 0;
					padding-right: 0;				
				}
			}
			.icon
			{
				float:left;
				width:40px;
				height:40px;
				border:1px solid @gray;
				border-radius:50%;	
				text-align:center;
				line-height:2.8;	
				i
				{
					display: block;
					margin-top: 11px;
				}		
			}
			.text
			{
				float:left;
				width:70%;
				padding-left:10px;
				margin-top: 12px;
			    font-size: 12px;
			    font-weight: 600;			    
			}
			.disabled
			{
				.icon
				{
					background: @gray-lightest;
					border: 1px solid @gray-light;
				}
				i
				{
					color: @gray-light;
				}
				.text
				{
					color: @gray-light;
				}
			}
		}
		.similarFlat 
		{			
			margin-bottom:15px;
			.contentTitle
			{
				border-right:none;
			}
			.moreFlats
			{
				padding:30px 15px 0;
				.card-swipe
				{
					border:1px solid @gray-light;
					h5
					{
						padding: 5px 10px 15px;
    					font-weight: 600;
					}
					ul
					{
						float:left;
					}
					.amount
					{
						color:@brand-primary;
						margin-left:5px;
						i
						{
							margin-right: 2px;
						}
					}
					.matchingSelection
					{
						color:#333 !important;
					}
					&:hover
					{
						border:1px solid @brand-primary;
						.swipe-footer .arrow a
						{
							background: @brand-primary;
							color: @white;
						}
					}
				}
			}
		}
		.specificationOuter 
		{
			.contentHEader
			{
				margin-bottom: 20px;
			}
			
			margin-top: 30px;
			h4
			{
				margin-bottom: 20px;				
			}
			.textInner 
			{
				margin-bottom: 15px;
				color: @gray;
				/*border-right:1px solid @gray-lightest;*/


				h5
				{
					margin-bottom: 0px;
					color: @gray-darker;
					width:15%;
				}
				> div
				{
					color: @gray-darker;
				    font-size: 12px;
				    text-transform: uppercase;
				    width:85%;
				}
				&:first-child
				{
					margin-top:10px;
				}
				&:last-child
				{
					margin-bottom:0px;
				}
			}
		}
/*.amenitiesView
{
	min-height: 90vH;
}*/
		
}
.pNone
{
	padding:0 !important;
}
.svg-top-area{
    svg{
      position: absolute;      
      left: -3%;
      z-index: 5;
      top:6%;
      height: 400px !important;
      width:100% !important;
    }
    img{
      height: 400px !important;
      margin:0px;
    }
}

.floatingButtons
{
	display: none;
}
.footerDesk
{
	background: @brand-primary;
    color: @white;
    padding: 10px;
    font-size:14px;

    a
    {
    	color: @white;
    	text-decoration: none;
    	outline: none;
    	font-size:14px;
    	&:hover, &:focus
    	{
    		color:@white;    		
    		outline: none;
    	}
    }
}
@media screen and (max-width:1024px)
{
		
	.step4Desk .detailView .unit .roomDetails:nth-child(3n+4)
	{
		border-right: 1px solid @gray-lighter;
	}
	.step4Desk .detailView .unit .roomDetails:nth-child(3n+4), .step4Desk .detailView .unit .roomDetails:last-child
	{
		border-right: none;
	}
	.step4Desk .tabHeader ul li
	{
		padding: 20px 12px 0 12px;
	}	
}
@media screen and (min-width:768px) and (max-width:1024px)
{
	.step4Desk .detailView .unit .roomDetails
	{
		width: 32%;
	}
	.step4Desk .detailView .unit .roomDetails:nth-child(3n+3), .step4Desk .detailView .unit .roomDetails:last-child
	{
		border-right: none;
	}	
	.step4Desk .detailView .unit .roomDetails:nth-child(3n+4)
	{
		border-right: 1px solid @gray-lighter;
	}
	.step4Desk .detailView .unit .roomDetails:nth-child(3n+1) {
	    padding-left: 15px;
	}
	.step4Desk .detailView .unit .roomDetails:nth-child(4n+1)
	{
		padding-left: 25px;
	}	
	.step4Desk .tabHeader.stick .stickyButtons
	{
		display: none;
	}
	
	.step4Desk .tabHeader ul li
	{
		padding: 20px 0px 0 14px;
	}
	.overlay
	{
		position: fixed;
	    height: 100%;
	    width: 100%;
	    background: rgba(0,0,0,0.5);
	    z-index: 99;
	    display: none;
	}
	.floatingButtons
	{
		position: fixed;
	    width: 200px;
	    bottom: 30px;
	    right: 30px;
	    z-index: 99;
	    display: block;


	    .floatingBtnsInner
	    {
	    	display: none;
		    text-align: right;
		    margin-right: 10px;
		    button
		    {
		    	margin: 5px 0;
		    }
		    .totalUnitPrice
		    {
		    	float: left;
			    width: 100%;
			    font-size: 18px;
			    color: #fff;			    
    			text-transform: uppercase;
    			font-weight: bold;
		    }
	    }
	    .floatingPlusIcon
	    {
	    	height: 50px;
		    width: 50px;
		    background: @brand-primary;
		    color: @white;
		    border-radius: 50%;
		    text-align: center;
		    margin:5px 10px 10px 0;
		    box-shadow: 1px 2px 2px rgba(0,0,0,0.3);
		    float: right;
		    i
		    {
		    	margin-top: 19px;
		    }
	    }

	}
	.step4Desk .specificationOuter .textInner h5
	{
		width: 25%;
	}
	.step4Desk .specificationOuter .textInner > div
	{
		width: 75%;
	}
}
