/* Social Colors */
/*Real Wedding colors*/
.pNone {
  padding: 0;
}
.btn {
  padding: 5px;
  border-radius: 0 !important;
  text-transform: uppercase;
}
.btn:focus {
  outline: none;
}
.btnOrange {
  background: #fe943e;
  color: #ffffff;
}
.btnOrange:hover,
.btnOrange:focus {
  background: #fe780b;
  color: #ffffff !important;
  outline: none;
}
.orangeText {
  color: #fe943e !important;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #333333;
}
.header {
  background: -webkit-linear-gradient(top, #fe943e 0, #fd7201 100%);
  background: linear-gradient(to bottom, #fe943e 0, #fd7201 100%);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
}
.header h3 {
  color: #ffffff;
  font-size: 30px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  -moz-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.bookFlowContent {
  background: url(../../images/cf-mobile/Project-noshadow.jpg) no-repeat;
  height: 50%;
  background-size: cover;
  height: 300px;
  position: relative;
}
.bookFlowContent .absoluteLayout {
  height: 300px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}
.bookFlowContent .container {
  position: relative;
}
.bookFlowContent h3 {
  color: #ffffff;
  font-weight: 300;
  margin-bottom: 5px;
  margin-top: 50px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.bookFlowContent .spanText {
  color: #d5d5d4;
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.bookFlowContent .bookAptOuter {
  width: 950px;
  margin: 0 auto;
}
.bookFlowContent .bookAptOuter > div:first-child {
  margin-left: -15px;
  padding-left: 0;
}
.bookFlowContent .bookAptOuter > div:last-child {
  padding-right: 0px;
}
.bookFlowContent .bookAptOuter i {
  font-size: 12px;
}
.bookFlowContent .bookAptOuter .amount {
  color: #ffffff;
  margin-left: 10px;
}
.bookFlowContent .bookAptOuter .totalPrice {
  font-size: 8px;
  color: #ffffff;
  float: left;
  width: 100%;
  padding-right: 26px;
}
.bookFlowContent .bookAptOuter .priceSheet {
  font-size: 10px;
  color: #ffffff;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.5);
  padding: 3px 15px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  margin-top: 11px;
  float: left;
  margin-left: 10px;
  text-decoration: none;
}
.bookFlowContent .bookAptOuter .priceSheet:focus {
  outline: none;
}
.bookFlowContent .bookAptOuter .download {
  color: #ffffff;
  margin-left: 10px;
  margin-top: 15px;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
}
.bookFlowContent .bookAptOuter .download:focus {
  text-decoration: none;
  outline: none;
}
.bookFlowContent .bookAptOuter .booked {
  background: #0eab08;
  color: white;
  font-size: 10px;
  text-transform: uppercase;
  padding: 3px 10px;
  float: right;
  margin-top: 12px;
  border-radius: 3px;
}
.bookFlowContent .bookAptOuter .priceOuter {
  width: 120px;
  float: right;
}
.bookFlowContent .bookAptOuter .priceOuter:first-child .amount {
  margin-right: 33px;
}
.bookFlowContent .bookAptOuter .priceOuter:first-child .totalPrice {
  padding-right: 0;
}
.bookFlowContent .bookAptOuter .borderDiv {
  float: right;
  border: 1px solid #bcbcba;
  height: 40px;
  margin-left: 20px;
  -ms-transform: rotate(25deg);
      transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
}
.bookFlowContent .panel-group {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  background: #ffffff;
  padding: 0;
  width: 950px;
  float: none;
  margin: auto;
}
.bookFlowContent .panel-inner {
  max-width: 950px;
  margin: auto;
  padding: 10px 30px 30px;
}
.bookFlowContent .panel {
  margin-top: 0 !important;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
  border-radius: 0;
  border: none;
  border-bottom: none;
}
.bookFlowContent .panel:last-child {
  border-bottom: none;
}
.bookFlowContent .panel h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
}
.bookFlowContent .panel .panel-heading {
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
  padding: 0;
  border-radius: 0;
  background: #ffffff;
  border: none;
}
.bookFlowContent .panel .panel-heading.active {
  color: #fe943e;
}
.bookFlowContent .panel .panel-heading.active a {
  border-bottom: 1px solid #fe943e;
}
.bookFlowContent .panel .panel-heading a {
  text-decoration: none;
  font-size: 12px;
  padding: 20px 0 15px 0;
  display: block;
  text-transform: uppercase;
  border-bottom: 1px solid #bcbcba;
}
.bookFlowContent .panel .reviewDetails .buildingName {
  font-size: 30px;
  color: #999999;
  border: 2px solid #edeef0;
  border-bottom: none;
  padding: 10px;
}
.bookFlowContent .panel .reviewDetails .title {
  background: #edeef0;
  color: #333333;
  padding: 10px;
  font-size: 14px;
  font-weight: 700;
}
.bookFlowContent .panel .termsConditions {
  font-size: 12px;
}
.bookFlowContent .panel .termsConditions label {
  font-weight: 400;
  font-size: 12px;
  margin-top: px;
}
.bookFlowContent .panel .termsConditions label input[type=checkbox] {
  position: absolute;
  opacity: 0;
  height: 15px;
  width: 20px;
  left: 0;
  margin-top: 0;
  float: left;
}
.bookFlowContent .panel .termsConditions label .accept {
  float: left;
}
.bookFlowContent .panel .termsConditions label label.checkboxLabel {
  height: 15px;
  width: 15px;
  background: none;
  border: 2px solid #d5d5d4;
  text-align: center;
  margin-top: 0px !important;
  float: left;
  margin-right: 5px;
}
.bookFlowContent .panel .termsConditions label input[type=checkbox]:checked + label:before {
  content: "\2714";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  color: #f3f3f3;
  text-align: center;
  line-height: 15px;
  background: #12acac;
  border: none;
  width: 15px;
  height: 15px;
  font-weight: 400;
  padding-top: 2px;
  display: block;
  border: 2px solid rgba(0, 0, 0, 0);
  margin: -2px 0 0 -2px;
  line-height: 0.8;
  font-size: 12px;
}
.bookFlowContent .panel .termsConditions label a {
  color: #fe943e;
}
.bookFlowContent .panel .mandatory {
  background: #fcf8e3;
  padding: 10px;
  border: 1px solid #fcf8e3;
  color: #8a6d3b;
}
.bookFlowContent .panel .personalDetails label {
  float: left;
  width: 100%;
  font-weight: 400;
}
.bookFlowContent .panel .personalDetails input,
.bookFlowContent .panel .personalDetails select {
  float: left;
  width: 100%;
  padding: 10px 10px 5px 5px;
  border: none;
  border-bottom: 1px solid #edeef0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 10px;
  text-transform: uppercase;
}
.bookFlowContent .panel .personalDetails input:focus,
.bookFlowContent .panel .personalDetails select:focus {
  outline: none;
}
.bookFlowContent .panel .personalDetails .btnOuter {
  margin-left: -15px;
}
.bookFlowContent .panel .btnOuter {
  padding: 0;
}
.bookFlowContent .panel .btnOuter button {
  font-size: 10px;
  border-radius: 3px !important;
}
.bookFlowContent .panel .btnOuter button:focus {
  outline: none;
}
.bookFlowContent .panel .panel-body {
  border-top: none !important;
}
.bookFlowContent .panel .plusMinusOuter .plusMinusIcon {
  float: right;
  color: #7d7c7a;
  font-size: 18px;
  border: 1px solid #7d7c7a;
  padding: 2px;
  line-height: 0.6;
  border-radius: 3px;
  height: 16px;
  width: 16px;
  text-align: center;
}
.bookFlowContent .panel .plusMinusOuter .plusMinusIcon.minusIcon {
  display: block;
  line-height: 0.4;
}
.bookFlowContent .panel .plusMinusOuter .plusMinusIcon.plusIcon {
  display: none;
}
.bookFlowContent .panel .plusMinusOuter.collapsed .plusMinusIcon.minusIcon {
  display: none;
}
.bookFlowContent .panel .plusMinusOuter.collapsed .plusMinusIcon.plusIcon {
  display: block;
}
.bookFlowContent .bottomSection {
  background: #f6f6f6;
  float: left;
  padding: 30px 0;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  width: 950px;
}
.bookFlowContent .bottomSection > div:first-child {
  border-right: 1px solid #d5d5d4;
}
.bookFlowContent .bottomSection .rightContent h5 {
  font-weight: 700;
  margin-bottom: 5px;
}
.bookFlowContent .bottomSection .rightContent p {
  font-size: 11px;
}
.mT35 {
  margin-top: 35px;
}
.mT30 {
  margin-top: 30px;
}
.mT25 {
  margin-top: 25px;
}
.mT20 {
  margin-top: 20px;
}
.mT15 {
  margin-top: 15px;
}
.mT10 {
  margin-top: 10px;
}
.mT5 {
  margin-top: 5px;
}
.mT0 {
  margin-top: 0px;
}
.mB35 {
  margin-bottom: 35px;
}
.mB30 {
  margin-bottom: 30px;
}
.mB25 {
  margin-bottom: 25px;
}
.mB20 {
  margin-bottom: 20px;
}
.mB15 {
  margin-bottom: 15px;
}
.mB10 {
  margin-bottom: 10px;
}
.mB5 {
  margin-bottom: 5px;
}
.mB0 {
  margin-bottom: 0px;
}
.mL35 {
  margin-left: 35px;
}
.mL30 {
  margin-left: 30px;
}
.mL25 {
  margin-left: 25px;
}
.mL20 {
  margin-left: 20px;
}
.mL15 {
  margin-left: 15px;
}
.mL10 {
  margin-left: 10px;
}
.mL5 {
  margin-left: 5px;
}
.mL0 {
  margin-left: 0px;
}
.mR35 {
  margin-right: 35px;
}
.mR30 {
  margin-right: 30px;
}
.mR25 {
  margin-right: 25px;
}
.mR20 {
  margin-right: 20px;
}
.mR15 {
  margin-right: 15px;
}
.mR10 {
  margin-right: 10px;
}
.mR5 {
  margin-right: 5px;
}
.mR0 {
  margin-right: 0px;
}
.pT35 {
  padding-top: 35px;
}
.pT30 {
  padding-top: 30px;
}
.pT25 {
  padding-top: 25px;
}
.pT20 {
  padding-top: 20px;
}
.pT15 {
  padding-top: 15px;
}
.pT10 {
  padding-top: 10px;
}
.pT5 {
  padding-top: 5px;
}
.pT0 {
  padding-top: 0px;
}
.pB35 {
  padding-bottom: 35px;
}
.pB30 {
  padding-bottom: 30px;
}
.pB25 {
  padding-bottom: 25px;
}
.pB20 {
  padding-bottom: 20px;
}
.pB15 {
  padding-bottom: 15px;
}
.pB10 {
  padding-bottom: 10px;
}
.pB5 {
  padding-bottom: 5px;
}
.pB0 {
  padding-bottom: 0px;
}
.pL35 {
  padding-left: 35px;
}
.pL30 {
  padding-left: 30px;
}
.pL25 {
  padding-left: 25px;
}
.pL20 {
  padding-left: 20px;
}
.pL15 {
  padding-left: 15px;
}
.pL10 {
  padding-left: 10px;
}
.pL5 {
  padding-left: 5px;
}
.pL0 {
  padding-left: 0px;
}
.pR35 {
  padding-right: 35px;
}
.pR30 {
  padding-right: 30px;
}
.pR25 {
  padding-right: 25px;
}
.pR20 {
  padding-right: 20px;
}
.pR15 {
  padding-right: 15px;
}
.pR10 {
  padding-right: 10px;
}
.pR5 {
  padding-right: 5px;
}
.pR0 {
  padding-right: 0px;
}
.accordion {
  max-width: 850px;
}
.unitName {
  color: #333333 !important;
}
.unitDetails {
  font-weight: 700;
  color: #333333;
  padding: 0 !important;
  padding-top: 25px !important;
  font-size: 12px;
  text-transform: uppercase;
  margin-left: -15px;
}
.unitDetails i {
  color: #fe943e !important;
}
.unitDetails > div {
  width: 20%;
}
.unitDetails a {
  color: #fe943e;
  text-decoration: none;
  outline: none;
}
.unitDetails a:hover,
.unitDetails a:focus {
  text-decoration: none;
  outline: none;
  color: #fe943e;
}
.titleDetails {
  padding: 0 !important;
  font-size: 11px;
  text-transform: uppercase;
  margin-left: -15px;
  margin-bottom: 25px;
}
.titleDetails > div {
  width: 20%;
}
.bookingFlow .modal-backdrop {
  left: 0 !important;
}
.priceSheetModal .modal-content {
  border-radius: 0;
}
.priceSheetModal h5 {
  font-weight: 700;
  margin: 10px 20px 20px 20px;
}
.priceSheetModal .contentOuter {
  border: 1px solid #bcbcba;
}
.priceSheetModal .contentOuter .row {
  border-bottom: 1px solid #bcbcba;
}
.priceSheetModal .contentOuter .row:last-child {
  border-bottom: none;
}
.priceSheetModal .contentOuter .row.titles div {
  font-weight: 700;
}
.priceSheetModal .contentOuter .row div {
  padding: 10px 5px;
  border-right: 1px solid #bcbcba;
}
.priceSheetModal .contentOuter .row div:last-child {
  border-right: none;
}
.priceSheetModal .close {
  position: absolute;
  right: 10px;
  z-index: 9999;
  top: 5px;
}
.priceSheetModal .saleOuter .saleValue {
  font-weight: 700;
}
.successOuter {
  padding: 15px;
  color: #7d7c7a;
  font-size: 12px;
  width: 950px;
  margin: auto;
  display: table;
}
.successOuter .bookApmt {
  font-size: 17px;
  font-weight: 700;
  color: #333333;
  margin-top: 22px;
  float: left;
}
.successOuter .flatNo {
  color: #333333;
  float: left;
  margin-top: 22px;
  margin-left: 5px;
  font-size: 17px;
  font-weight: 700;
}
.successOuter h5 {
  color: #333333;
}
.successOuter .booked {
  background: #0eab08;
  color: #ffffff;
  padding: 4px 10px 3px;
  border: none;
  float: right;
  font-size: 9px;
  text-transform: uppercase;
}
.successOuter a {
  text-decoration: none;
  outline: none;
  color: #296ec3;
}
.successOuter a:hover,
.successOuter a:focus {
  text-decoration: none;
  outline: none;
  color: #296ec3;
}
.successOuter .titles {
  font-weight: 800;
  color: #333333;
  font-size: 12px;
}
.successOuter .unitTitle {
  font-weight: 700;
  font-size: 16px;
}
.successOuter .unitDetails {
  border: none;
  font-weight: 600;
  padding: 0;
}
.successOuter .unitDetails > div {
  width: 20%;
}
.successOuter .cancleBooking {
  font-size: 10px;
  padding: 5px 10px 4px;
  background: #12acac;
  color: #ffffff;
  border: none;
  float: right;
  text-decoration: none;
}
.successOuter .cancleBooking:focus,
.successOuter .cancleBooking:hover {
  outline: none;
  color: #ffffff;
  text-decoration: none;
}
.successOuter i {
  color: #296ec3;
  margin-right: 4px;
}
.successOuter .bottomSection {
  margin-top: -2px;
}
.successOuter .cancelBookingOuter {
  padding: 20px 0 0 0 ;
  border-top: 1px solid #bcbcba;
}
.failureOuter {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  padding: 15px;
  width: 500px !important;
  height: 230px;
  top: 50%;
  left: 50%;
  position: absolute;
  margin-top: -120px;
  margin-left: -250px;
}
.failureOuter i {
  color: #ee1f3b;
  float: left;
  margin-right: 6px;
}
.failureOuter .failureMsg {
  color: #ee1f3b;
  font-weight: 800;
  font-size: 15px;
  float: left;
  margin-top: 4px;
}
.failureOuter .transactionFailed {
  color: #ee1f3b;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-left: 0;
}
.failureOuter .transactionNo {
  font-size: 11px;
  padding-left: 0;
}
.failureOuter .tryAgain {
  margin-top: 20px;
  background: #12acac;
  color: #ffffff;
  border: none;
  padding: 5px 10px 4px;
  font-size: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  float: left;
}
.failureOuter .tryAgain:focus {
  outline: none;
}
.timeoutOuter {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  padding: 15px;
  width: 400px !important;
  height: 150px;
  top: 50%;
  left: 50%;
  position: absolute;
  margin-top: -75px;
  margin-left: -200px;
  color: #296ec3;
}
.timeoutOuter .failureMsg {
  color: #565654;
}
.timeoutOuter .transactionFailed {
  color: #565654;
  font-size: 14px;
  padding-left: 0;
}
.timeoutOuter .tryAgain {
  margin-top: 20px;
  background: #12acac;
  color: #ffffff;
  border: none;
  padding: 5px 10px 4px;
  font-size: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  float: left;
}
.timeoutOuter .tryAgain:focus {
  outline: none;
}
.bookingFooter {
  text-align: center;
  float: left;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
}
.bookingFooter a {
  font-size: 12px;
  color: #565654;
  text-decoration: none;
  outline: none;
}
.bookingFooter a:hover {
  color: #565654;
  text-decoration: none;
}
.bookingFooter .privacyOuter {
  font-size: 12px;
}
.bookingFooter .privacyOuter a {
  margin: 0 5px;
  text-decoration: none;
}
.successContent {
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.3);
  width: 950px;
}
.successContent .reviewDetails > div:first-child {
  border-bottom: 1px solid #bcbcba;
  margin-bottom: 15px;
}
.successContent .unitName {
  color: #fe943e !important;
}
.successContent .cancleText {
  float: right;
  font-size: 12px;
  width: 61%;
}
.successContent .note {
  margin-top: 10px;
  font-size: 12px;
}
.successContent .cancleBooking {
  float: right;
  width: auto;
  font-size: 10px;
  background: #fe943e;
  color: #ffffff;
  padding: 6px 10px 4px 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  margin-top: 5px;
  text-transform: uppercase;
}
.successContent .bookedUser > div:last-child {
  margin-bottom: 20px;
}
.successContent .bookedUser .title {
  font-size: 14px;
  text-transform: capitalize;
  width: 75px;
  float: left;
  line-height: 1.5;
}
.successContent .bookedUser .detail {
  font-size: 14px;
  color: #333333;
  line-height: 1.5;
}
/*# sourceMappingURL=bookflow.css.map */