/* Social Colors */
/*Real Wedding colors*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  -webkit-text-size-adjust: none;
  font-family: sans-serif;
  min-height: 416px;
}
body h1 {
  font-size: 33px;
  margin: 50px 0 15px;
  text-align: center;
  color: #212121;
}
body h2 {
  font-size: 14px;
  font-weight: bold;
  color: #3c3c3c;
  margin: 20px 10px 10px;
  text-align: center;
}
body small {
  display: block;
  font-size: 11px;
  opacity: .6;
  margin-top: 1px;
}
body a {
  font-size: 12px;
  color: #fe943e;
}
.fit {
  /* set relative picture size */
  max-width: 100%;
  max-height: 100%;
}
.normal {
  font-weight: 300;
}
.margin-none {
  margin: 0px;
}
body .row {
  margin-right: 0px;
  margin-left: 0px;
}
.navbar-default {
  border: 0px !important;
}
.navbar-default .navbar-header {
  color: white;
  z-index: 0;
  margin: 0 !important;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 120px;
  padding: 10px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.75), transparent);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), transparent);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#59000000', endColorstr='#00000000', GradientType=0);
}
.navbar-default .navbar-header .badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 3px;
  font-size: 11px;
  font-weight: 300;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #F89B1A;
  position: absolute;
  right: -8px;
  border-radius: 100%;
  width: 19px;
  height: 20px;
}
.navbar-default .p-0 {
  padding: 0px;
}
.sun-toggle {
  width: 40px;
  height: 40px;
  background: #fff;
  z-index: 9999;
  position: absolute;
  left: 4%;
  top: 14%;
  border-radius: 100%;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.44);
  padding: 5px 4px;
}
.sun-toggle:hover {
  background: yellow;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../../fonts/glyphicons-halflings-regular.eot');
  src: url('../../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
/* Rotate*/
.rotate {
  width: 40px;
  height: 40px;
  background: url(../../images/sprite.png) #fe943e no-repeat;
  background-position: -105px -30px;
  z-index: 9999;
  position: absolute;
  right: 4%;
  bottom: 27%;
  border-radius: 100%;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.44);
  padding: 5px 4px;
}
/* Swipe css*/
#console {
  font-size: 12px;
  font-family: "Inconsolata", "Monaco", "Consolas", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  color: #999;
  line-height: 18px;
  margin-top: 20px;
  max-height: 150px;
  overflow: auto;
}
.card-swipe {
  bottom: -18px;
  position: fixed;
  font-size: 11px;
  padding-top: 15px;
  padding-bottom: 11px;
}
.card-swipe .price {
  line-height: 20px;
}
.card-swipe .swipe-footer {
  background: #f2f2f2;
  padding: 5px 0;
  font-weight: 200;
  line-height: 26px;
}
.card-swipe .swipe-footer sm {
  color: #fe943e;
  font-weight: bold;
  font-size: 15px;
}
.card-swipe .swipe-unit-info {
  padding: 15px 0;
  font-size: 11px;
  font-weight: 200;
  text-align: left;
  text-transform: uppercase;
}
.card-swipe .swipe-unit-info b {
  color: black;
}
@media (max-width: 320px) {
  .card-swipe h4 {
    font-size: 15px;
  }
}
.not-released {
  background: #E4E4E4 !important;
}
.not-released .row {
  opacity: .5 ;
}
.i-icon {
  background: url(../../images/sprite.png) no-repeat;
  width: 26px;
  height: 25px;
  display: inline-block;
}
.i-phone {
  background-position: -20px -58px;
}
.i-shortlist {
  background-position: -20px -139px;
}
.i-filter {
  background-position: -20px -99px;
}
.i-back {
  background-position: -20px -19px;
}
.i-dark-arrow {
  background-position: -219px -19px;
}
.i-sun {
  background-position: -20px -226px;
}
.i-marker {
  background-position: -109px -156px;
  margin: auto;
  text-align: center;
  display: block;
  height: 40px;
}
.i-filter-white {
  background-position: -216px -115px;
}
.i-sun-white {
  background-position: -216px -64px;
}
.slick-slide .card-swipe {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
#disqus_thread {
  margin-top: 20px;
}
* {
  box-sizing: border-box;
}
.bottom-card {
  position: absolute;
  bottom: 0;
  width: 100% !important;
}
.slick-slide {
  height: auto !important;
}
.blue {
  color: #fff;
}
.blue .card-swipe {
  background: #fff;
  color: #fe943e;
  margin: 10px;
  position: relative;
}
.variable-width .slick-slide p {
  background: #fff;
  height: 100px;
  color: #3498db;
  margin: 5px;
  line-height: 100px;
}
.button {
  background: #3498db;
  color: #fff;
  display: block;
  font-size: 16px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  width: 48%;
}
.buttons {
  padding: 0 20px 20px;
  margin-bottom: 10px;
}
.buttons .button {
  background: #FFF;
  color: #3498db;
  float: left;
  margin: 5px;
}
.center .slick-center .card-swipe {
  -moz-transform: scale(1.18);
  -ms-transform: scale(1.18);
  -o-transform: scale(1.18);
  -webkit-transform: scale(1.18);
  color: #000;
  opacity: 1;
  -webkit-transform: scale(1.18);
      -ms-transform: scale(1.18);
          transform: scale(1.18);
}
.center .card-swipe {
  opacity: 0.8;
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
}
.content {
  margin: auto;
  padding: 20px;
  width: 600px;
}
.content:after,
.buttons::after {
  clear: both;
  content: "";
  display: table;
}
.destroy {
  font-weight: 400;
  margin-top: 40px;
}
.features {
  display: block;
  list-style-type: none;
  margin-top: 30px;
  padding: 0;
  text-align: center;
}
.features li {
  margin: 20px 0;
}
.filter .button {
  background: #FFF;
  color: #3498db;
  margin-bottom: 40px;
}
.fixed-header {
  background: #FFF;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  display: none;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}
.fixed-header .header-content {
  margin: auto;
  width: 600px;
}
.fixed-header .subheading {
  display: none;
}
.fixed-header h1.title {
  float: left;
  font-size: 24px;
  margin: 0;
}
.fixed-header ul.nav {
  float: right;
  margin: 0;
  padding: 5px;
}
.fixed-header ul.nav li {
  margin: 0 0 0 10px;
}
.header {
  padding: 20px 0;
}
.margin-40 {
  margin-bottom: 40px;
}
.more,
.button.first {
  margin-top: 40px;
}
.red {
  background: #e74c3c;
  color: #fff;
}
.slick-slide .image {
  padding: 10px;
}
.slick-slide img {
  border: 5px solid #FFF;
  display: block;
  width: 100%;
}
.slick-slide img.slick-loading {
  border: 0;
}
.subheading {
  color: #555;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  margin: 10px auto;
  text-align: center;
}
.white {
  background: #fff;
  color: #3498db;
}
.white pre,
.white hr {
  background: #3498db !important;
}
ul.nav {
  margin-bottom: 0;
  padding-left: 0;
  text-align: center;
}
ul.nav li {
  display: inline-block;
  list-style-type: none;
  margin: 0 20px;
}
ul.nav li a {
  font-size: 14px;
  text-decoration: none;
}
#carbonads {
  max-width: 320px;
  width: 100%;
  color: white;
  background: white;
  padding: 20px 20px 20px;
  margin: 0px auto 40px;
  text-align: center;
  position: relative;
  top: 40px;
}
#carbonads a {
  display: inline-block;
  margin-bottom: 0px;
  font-size: 10px;
  line-height: 1.5;
}
#carbonads .carbon-img {
  margin-bottom: 10px;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
.fit {
  /* set relative picture size */
  max-width: 100%;
  max-height: 100%;
}
.normal {
  font-weight: 300;
}
.margin-none {
  margin: 0px;
}
.image {
  position: absolute;
  top: 0px;
  z-index: -1;
  overflow: hidden;
}
.image img {
  max-height: inherit !important;
}
.primary-txt {
  color: #fe943e;
}
/*# sourceMappingURL=custom.css.map */